@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>This is Index Page.</h1>

<br />
<a href="Home/About">Go About Page 1</a>

<br />
<a asp-controller="Home" asp-action="About">Go About Page 2</a>